.clients {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.clients__item {
    width: 210px;
    height: 92px;

    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width: 1280px) {
        width: 170px;

    }    
        
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    outline: transparent;
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-color);
}

.clients__icon {
    fill: #afb1b8;
    width: 106px;
    height: 60px;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: var(--accent-color);
}