.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.footer__container {
    display: flex;
    gap: 70px;
}


.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}
