.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}

.modal {
  position: absolute;
  width: 450px;
  height: 602px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: scale(1);
  transform: translateX(-50%) translateY(-50%);
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__button-icon,
.modal__button:focus .modal__button-icon {
  fill: var(--accent-color);
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.form__input.comment {
  display: block;
  width: 100%;
  min-height: 117px;
  padding: 12px 16px;
  margin-bottom: 14px;
  resize: none;
  outline: transparent;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 11px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: auto;
  margin-bottom: 30px;
}

.modal__form-desc {
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.modal__form-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__button.button {
  width: 200px;
  height: 50px;
  margin: auto;
  padding: 10px 52px;
  color: var(--button-text-color);
  background-color: var(--accent-color);
  outline: transparent;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button.button:hover,
.form__button.button:focus {
  background-color: #188ce8;
}

.modal__form-agreement {
  position: relative;
}

.modal__form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-color);
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 9.5px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 250ms ccubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    left: 22px;
  }
}

.modal__form-checkbox:checked ~ .checkbox__icon {
  background-color: var(--accent-color);
  fill: var(--button-text-color);
  opacity: 1;
}

.modal__form-checkbox:checked {
  border-color: var(--accent-color);
}
