.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.works__section {
    padding-top: 0;

    @media screen and (max-width: 1279px) {
        display: none;
        }
}

.team__section {
    background-color: var(--secondary-background-color);
}
