:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
}

$indent: 30px;
$items: 1;

$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// indent for elements in grid (default value)
$indent: 30px;
// quantity of items in grid (degault value)
$items: 1;
