:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --button-text-color: #ffffff;
    --primary-background-color: #fff;
    --secondary-background-color: #f5f4fa;
}

$phone: 480px
$tablet: 768px
$desktop: 1200px